@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .stop-fix-android-vh {
    transition: unset;
  }

  .fix-android-vh {
    transition: height 999999s;
    
  }

  .fix-vh {
    @apply fix-android-vh md:fix-android-vh;
  }



  .hero {
    min-height: 750px;
  }

  .header-big {
    @apply text-3xl-fluid font-bold;
  }

  .header-medium {
    @apply text-2xl-fluid font-bold;
  }
  .header-small {
    @apply text-lg-fluid font-bold;
  }
  .subheader {
    @apply text-base-fluid font-bold;
  }

  .text-normal {
    @apply text-base-fluid;
  }

  .text-small {
    @apply text-sm-fluid;
  }
  .text-xsmall {
    @apply text-xs-fluid;
  }

  .header-big,
  .header-medium,
  .header-small,
  .subheader {
    line-height: 1.2em;
  }

  .text-fill-menu {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.04em;
    &:hover {
      -webkit-text-fill-color: white;
      -webkit-text-stroke-color: white;
      -webkit-text-stroke-width: 0.04em;
    }
  }

  .text-fill-bigButton {
    &:hover {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: black;
      -webkit-text-stroke-width: 0.04em;
    }
  }

  .bg-blur {
    &::after {
      @apply absolute inset-0;
      backdrop-filter: blur(0.5rem);
      content: '';
    }
  }
}

@layer base {
  p,
  h1,
  h2,
  h3,
  h4 {
    @apply break-words pb-4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  p {
    line-height: 1.5em;
  }
}

.frida-text-block > :last-child {
  margin-bottom: 0;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.hide-cursor {
  cursor: none !important;
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.2s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}
